---
import BaseLayout from '../../layouts/BaseLayout.astro';
import fs from 'fs';
import path from 'path';
import matter from 'gray-matter';
import { marked } from 'marked';

export async function getStaticPaths() {
  const postsDir = './content/posts';
  const files = fs.readdirSync(postsDir);
  return files.map(filename => ({ params: { slug: filename.replace(/\.md$/, '') } }));
}

const postsDir = './content/posts';
const { slug } = Astro.params;
const file = fs.readFileSync(path.join(postsDir, `${slug}.md`), 'utf-8');
const { data, content } = matter(file);
const html = marked(content);
---
<BaseLayout>
  <h1>{data.title}</h1>
  <p><em>{data.date?.toString().slice(0,10)}</em></p>
  <div innerHTML={html} />
  <p><a href="/blog">Back to Blog</a></p>
</BaseLayout> 